[submodule "katcp"]
	path = katcp
	url = kat@10.8.81.10:/home/kat/robin/katcp/
[submodule "dma_ip_drivers"]
	path = dma_ip_drivers
	url = https://github.com/Xilinx/dma_ip_drivers
[submodule "pcimem"]
	path = pcimem
	url = https://github.com/billfarrow/pcimem.git
[submodule "alveo_sensmon"]
	path = alveo_sensmon
	url = https://github.com/mchirindo/alveo_sensmon.git
